<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager add Project</title>
</head>
<body>
<h1>Register new User</h1>
<form id="registerUserForm"
      th:action="@{/projects/add}"
      th:object="${projectForm}"
      method="post">
    <table>
        <tr>
            <td><label for="projectNameInput">Project Name</label></td>
            <td><input id="projectNameInput" type="text" placeholder="NAME" required th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="descriptionInput"></label>Description</td>
            <td><input id="descriptionInput" type="text" placeholder="DESCRIPTION" required th:field="*{description}">
            </td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{name}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><button type="submit">Register</button></td>
        </tr>
    </table>
</form>
</body>
</html>