<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager Add Tag</title>
</head>
<body>
<h1>Add new Tag</h1>
<form th:action="@{'/target/'+ ${entity.id} + '/tags/addTag'}"
      th:object="${tag}" method="post">
    <table>
        <tr>
            <td><label for="tagNameInput">Tag Name:</label></td>
            <td><input id="tagNameInput" type="text" placeholder="NAME" th:field="*{name}" required></td>
        </tr>
        <tr>
            <td><label for="tagColorInput">Pick a color:</label></td>
            <td><input id="tagColorInput" type="color" th:field="*{color}"></td>
        </tr>
        <tr>
            <td><label for="tagDescriptionInput">Description</label></td>
            <td><textarea id="tagDescriptionInput" placeholder="Insert tag's description" required
                          th:field="*{description}"
                          cols="20" rows="7"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit">Save Tag</button>
            </td>
        </tr>
    </table>
</form>

</body>
<footer><a href="/home">Home</a></footer>
</html>