<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager Add Task</title>
</head>
<body>
<h1>Add new task in <a th:href="'/projects/' + ${project.id}" th:text="${project.name}"></a>!</h1>
<form id="registerUserForm"
      th:action="@{/projects/{projectId}/addTask(projectId=${project.id})}"
      th:object="${task}"
      method="post">
    <table>
        <tr>
            <td><label for="taskNameInput" style="font-weight: bold">Task Name</label></td>
            <td><input id="taskNameInput" type="text" placeholder="NAME" th:field="*{name}" required/></td>
        </tr>
        <tr>
            <td><label for="taskDescriptionInput" style="font-weight: bold"></label>Description</td>
            <td><textarea cols="30" rows="5" id="taskDescriptionInput"
                          placeholder="Write description of this task here" th:field="*{description}"
                          required></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add task</button>
            </td>
        </tr>
    </table>
</form>
</body>
<footer style="border-top-style: outset"><a href="/home">Home</a></footer>
</html>
