<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager Assign Task</title>
</head>
<body>
<h1>Assign task to an user!</h1>
<h3>Select one user from the list!</h3>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Assign</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">

        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
            <form method="post" th:action="@{'/task/' + ${task.id} + '/assignTask/' + ${user.id}}">
                <button type="submit">Assign</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>