<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager Projects</title>
</head>
<body>
<h1>My Projects</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>            </th>
            <th>Share With</th>
        </tr>
        <tbody>
        <tr th:each="project : ${projectsList}">
            <td><a th:href="'/projects/' + ${project.id}" th:text="${project.name}">...</a></td>
            <td th:text="${project.description}">...</td>

        </tr>
        </tbody>
        </thead>
    </table>
</div>
</body>
</html>