<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager project</title>
</head>
<body>
<table>
    <td><h1 th:text="${project.name}"></h1></td>
    <td>
        <form id="modifyProjectForm" th:action="@{/projects/{projectId}/modifyProject(projectId=${project.id})}"
              method="get">
            <button th:if="${project.owner.equals(loggedUser)}" type="submit" name="submit" value="value">MODIFY
            </button>
        </form>
    </td>
</table>

<h4 th:text="${project.description}"></h4>

<table th:if="${project.tags.size() >= 0}">
    <tr>
        <td><h3>Associated Tags:</h3></td>
        <td>
            <form method="get" th:action="@{/projects/{projectId}/addTag(projectId=${project.id})}">
                <button th:if="${project.owner.equals(loggedUser)}" type="submit" name="submit" value="value">ADD TAG
                </button>
            </form>
        </td>
    </tr>
</table>

<ul>
    <li th:each="tag : ${project.tags}">
        <table>
            <tr><label>
                <td th:text="${tag.name}" th:style="'color:' + ${tag.color}"></td>
                <td>

                    <form th:action="@{'/projects/' + ${project.id} + '/tag/' + ${tag.id} + '/assignTag'}" method="GET" id="assignTag">
                        <button type="submit">Assign this tag to</button>
                    </form>
            </label>
                </td>
            </tr>
        </table>
        <div th:text="${tag.description}"></div>
        <br>
    </li>
</ul>
<table th:if="${members.size() >= 0}">
    <tr>
        <td><h3>Shared with:</h3></td>
        <td>
            <form method="get" th:action="@{/projects/{projectId}/shareProject(projectId=${project.id})}">
                <button th:if="${project.owner.equals(loggedUser)}" type="submit" name="submit" value="value">SHARE
                </button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li th:each="member : ${members}">
                    <div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
                </li>
            </ul>
        </td>
    </tr>
</table>
<!--<h3>Owner:</h3> TODO
<ul>
    <li>
        <div  th:text="${project.owner}"></div>
    </li>
</ul>-->
<table>
    <td><h2>Tasks:</h2></td>
    <td>
        <form th:action="@{/projects/{projectId}/addTask(projectId=${project.id})}"
              method="get">
            <button th:if="${project.owner.equals(loggedUser)}" type="submit" name="submit" value="value">Add Task
            </button>
        </form>
    </td>
</table>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Assigned</th>
        <th>State</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="task : ${project.tasks}">
        <td><a th:href="'/projects/' + ${project.id} + '/task/' + ${task.id}"
               th:text="${task.name}"></a></td>
        <td>
            <div th:if="${task.user!=null}" th:text="${task.user.firstName} +' '+ ${task.user.lastName}"
                 style="color:lime"></div>
            <div th:if="${task.user==null}" style="color:red">Not assigned</div>
        </td>
        <td>
            <div th:if="${task.completed==true}" style="color: lime">Completed</div>
            <div th:if="${task.completed!=true}" style="color: red">Not Completed</div>
        </td>
        <td>
            <form th:action="@{/task/{taskId}/assignTask(taskId=${task.id})}" method="get" id="assignTask">
                <button th:if="${(task.user==null) && (project.owner.equals(loggedUser))}" type="submit" name="submit"
                        value="value">ASSIGN
                </button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/task/{taskId}/delete(taskId=${task.id})}">
                <button th:if="${project.owner.equals(loggedUser)}" type="submit" name="submit" value="value">DELETE
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{/task/{taskId}/completeTask(taskId=${task.id})}" method="post" id="completeTask">
                <button th:if="${task.completed==false && (task.user != null && task.user.equals(loggedUser))}"
                        type="submit" name="submit" value="value">COMPLETE
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<footer><a href="/home">Home</a></footer>
</html>