<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager Shared Projects</title>
</head>
<body>
<h1>Projects share with me</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tbody>
        <tr th:each="project : ${projectsShared}">
            <td><a th:href="'/projects/' + ${project.id}" th:text="${project.name}">...</a></td>
            <td th:text="${project.description}">...</td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
</body>
<footer style="border-top-style: outset"><a href="/home">Home</a></footer>
</html>