<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TaskManager Share Project</title>
</head>
<body>
<h1>Share project with an user!</h1>
<h3>Select one user from the list!</h3>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Share</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">
<!--TODO add username-->

        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
            <form method="post" th:action="@{'/projects/' + ${project.id} + '/shareProject/' + ${user.id}}">
                <button type="submit">Share</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<footer><a href="/home">Home</a></footer>
</html>