<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager task</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td><h1 th:text="${task.name}" style="font-style: italic"></h1></td>
        <td><h1> relativo a </h1></td>
        <td><h1><a th:href="'/projects/' + ${project.id}" th:text="${project.name}"></a></h1></td>
        <td>
            <form id="modifyTaskForm" th:action="@{/task/{taskId}/modifyTask(taskId=${task.id})}"
                  method="get">
                <button type="submit" name="submit" value="value">MODIFY</button>
            </form>
        </td>
    </tr>

    </thead>
</table>

<div>With Description:</div>
<div th:text="${task.description}"></div>


</body>
<footer><a href="/home">Home</a></footer>
</html>