<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager task</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td><h1 th:text="${task.name}" style="font-style: italic"></h1></td>
        <td><h1> relativo a </h1></td>
        <td><h1><a th:href="'/projects/' + ${project.id}" th:text="${project.name}"></a></h1></td>
        <td>
            <form id="modifyTaskForm" th:action="@{/task/{taskId}/modifyTask(taskId=${task.id})}"
                  method="get">
                <button th:if="${(project.owner.equals(loggedUser)) && (task.completed==false)}" type="submit"
                        name="submit" value="value">MODIFY
                </button>
            </form>
        </td>
    </tr>

    </thead>
</table>
<div>With Description:</div>
<table>
    <tr>
        <td th:text="${task.description}"></td>
    </tr>
</table>
<table>
    <tr>
        <td>State</td>
        <td th:if="${task.completed==true}" style="color: lime">Completed</td>
        <td th:if="${task.completed==false}" style="color: red">Not Completed</td>
        <td>
            <form th:action="@{/task/{taskId}/completeTask(taskId=${task.id})}" method="post" id="completeTask">
                <button th:if="${task.completed==false && (task.user != null && task.user.equals(loggedUser))}"
                        type="submit" name="submit" value="value">COMPLETE
                </button>
            </form>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>Creation Time:</td>
        <td th:text="${task.creationTimeStamp}"></td>
    </tr>
    <tr>
        <td>Last modify:</td>
        <td th:text="${task.lastUpdateTimeStamp}"></td>
    </tr>
</table>
<table>
    <tr>
        <td>Associed To:</td>
        <td style="color: lime" th:if="${credential.username!=null}"
            th:text="${credential.username} + '=>' + ${credential.user.firstName} + ' ' + ${credential.user.lastName}"></td>
        <td th:if="${credential.username==null}" style="color: red">No one</td>
    </tr>
</table>
<table th:if="${task.tags.size() > 0}">
    <tr>
        <td>
            <h3>Tags:</h3>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li th:each="tag : ${task.tags}">
                    <div>
                        <table>
                            <tr>
                                <td th:text="${tag.name}" th:style="'color:' + ${tag.color}"></td>
                                <td>
                                    <form th:if="${project.owner.equals(loggedUser)}"
                                          method="post" for="deleteTagFromTask"
                                          th:action="@{'/task/' + ${task.id} + '/tag/' + ${tag.id} + '/removeTag'}">
                                        <button id="deleteTagFromTask" type="submit">REMOVE</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div th:text="${tag.description}"></div>
                </li>
            </ul>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td><h2>Comments of this task:</h2></td>
    </tr>
</table>
<form th:action="@{/task/{taskId}/addComment(taskId=${task.id})}"
      method="post">
    <table>

        <tr>
            <td><textarea placeholder="Write here your comment" th:field="${commentForm.text}"
                          required cols="30" rows="5"></textarea></td>
            <td>
                <button type="submit">ADD COMMENT</button>
            </td>
        </tr>
    </table>
</form>
<table>
    <tr th:each="comment : ${task.comments}">
        <td th:text="${comment.creationTimeStamp}"></td>
        <td th:text="${comment.text}"></td>
        <td>
            <form th:action="@{'/task/' + ${task.id} + '/deleteComment/' + ${comment.id}}" method="post">
                <button type="submit">DELETE</button>
            </form>
        </td>
    </tr>
</table>


</body>
<footer style="border-top-style: outset"><a href="/home">Home</a></footer>
</html>