<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager Assigned Projects</title>
</head>
<body>
<h1>Tasks assigned to me</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
        <tbody>
        <tr th:each="task : ${tasksAssigned}">
            <td><a th:href="'/tasks/' + ${task.id}" th:text="${task.name}">...</a></td>
            <td th:text="${task.description}">...</td>
            <td>
                <div style="color: red" th:if="${task.completed == false}">Not Completed</div>
                <div style="color: lime" th:if="${task.completed == true}">Completed</div>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
</body>
<footer><a href="/home">Home</a></footer>
</html>