<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager UserProfile</title>
</head>
<body>
<table>
    <td><h1>Your Profile</h1></td>
    <td>
        <form th:action="@{/users/modifyUser}"
        th:object="${credentials}"
        method="get">
        <button type="submit" name="submit" value="value">MODIFY</button>
        </form>
    </td>
</table>
<table>
    <tr>
        <td>Username:</td>
        <td th:text="${credentials.username}">...</td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td th:text="${user.firstName}">...</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td th:text="${user.lastName}">...</td>
    </tr>
    <tr>
        <td>Role:</td>
        <td th:text="${credentials.role}">...</td>
    </tr>
    <tr>
        <td>Registered at:</td>
        <td th:text="${user.creationTimeStamp}">...</td>
    </tr>
    <tr>
        <td>Last update at:</td>
        <td th:text="${user.lastUpdateTimeStamp}">...</td>
    </tr>
</table>
</body>
<footer style="border-top-style: outset"><a href="/home">Home</a></footer>
</html>